
body{
background-image: url("images/plantleaves.jpg");
background-color: /*BurlyWood*/ #fff2e6;
font-family: Garamond, serif;
}

/* ebb: This is a comment in CSS: 
 * Notice that the properties I set on the <body> element get passed down to elements inside it. So all my text is the color and font that I set here. 
 * If I want to change the styling of internal elements, I can just enter their names and apply CSS properties to them, following CSS syntax. 
 */

section#contact {
background-color: #fffee4;
text-align: center;
margin-left: 20vw;
margin-right: 20vw;        
}



h1{
background-color: #1a0d00;
font-size: 2vw;
padding: 1em;
color: #EFEFEF;
text-align: center;
}
ol {list-style-type: lower-alpha;
background-color: #fffee4;
padding: 3em;
text-align: center;
}

li {
padding: 3em;
}

ul {list-style-type: lower-alpha;
background-color: #fffee4;
padding: 3em;
text-align: center;
margin-left: 20vw;
margin-right: 20vw;
}

p {list-style-type: lower-alpha;
background-color: #fffee4;
padding: 3em;
text-align: center;
margin-left: 20vw;
margin-right: 20vw;
}


h2 {list-style-type: lower-alpha;
background-color: #1a0d00;
padding: 1em;
color: #EFEFEF;
text-align: center;
}

h3 {list-style-type: lower-alpha;
background-color: #fffee4;
padding: 3em;
text-align: center;
margin-left: 20vw;
margin-right: 20vw;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

div.menuA{
text-align:center;
background-color: #1a0d00;
color: #EFEFEF;
font-size: 2vw;
padding: 1vw;
padding-left: 3vw;
padding-right: 3vw;
}

/* unvisited link */
a:link {
  color: #33cc33;
}

/* visited link */
a:visited {
  color: #669900;
}

/* mouse over link */
a:hover {
  color: #ff1a66;
}

/* selected link */
a:active {
  color: #ff1a66;
}
